<html>

  <body>

    <div class="container">
      <div class="jumbotron text-center">
        <h1>Edit Article</h1>
        <p>This is to demonstrate how rails works</p>
      </div>

      <%= render 'layouts/nav' %>

      <%= render 'form' %>

    </div>

  </body>

</html
