<!DOCTYPE html>
<html>
  <head>
    <title>Demo HTML Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
    .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: red;
     color: white;
     text-align: center;
    }
    </style>

  </head>

  <body>

      <div class="container">
        <div class="jumbotron text-center">
          <h1>Demonstration About Page</h1>
          <p>This is to demonstrate how rails works</p>
          <p><%= link_to 'Home', root_path%></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-4"><h3>Hello, World!</h3></div>
          <div class="col-sm-4"><h3>This class is awesome!</h3></div>
          <div class="col-sm-4"><h3>I love Ruby on Rails!</h3></div>
        </div>
      </div>

        <div class="footer">
          <p>Ruby on Rails Developer Course</p>
        </div>

  </body>

</html
