<html>
  <body>

    <div class="container">
      <div class="jumbotron text-center">
        <h1>Alpha Blog Demo</h1>
        <p>This is to demonstrate how rails works</p>
      </div>

      <%= render 'layouts/nav' %>

    </div>

  </body>

</html
